body {
    min-height: 100vh;
    margin: 0;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.navigation ul li a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 12px;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
}