body {
    min-height: 100vh;
    margin: 0;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.navigation ul li a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 12px;
}

.header, .hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    font-family: sans-serif;
}

.header {
    gap: 500px;
}

.hero {
    padding: 48px;
}

.left-hero .main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    text-wrap: wrap;
    width: 400px;
} 

.right-hero img {
    width: 480px;
    height: 260px;
}

.left-hero .sub-text {
    font-size: 18px;
    color: #e5e7eb;
    width: 300px;
    margin: 20px 0 20px 0;
}

.Order {
    background-color: #3882f6;
    border-radius: 10px;
    height: 40px;
    width: 140px;
    color: #f9faf8;
    font-weight: bold;
    border: 0;
}

.cards {
    display: flex;
    gap: 80px;
    justify-content: center;
}

.card img {
    width: 180px;
    height: 180px;
    border: 5px solid #3882f6;
    border-radius: 20px;
}

.text {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 30px;
    font-family: sans-serif;
}

.description {
    text-align: center;
    margin: 8px;
}

.available {
    margin-bottom: 54px;
}

.inspired {
    display: flex;
    flex-direction: column;
    height: 260px;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.author {
    font-weight: bold;
    font-family: sans-serif;
    margin: 10px;
    align-self: flex-end;
    margin-right: 280px;
}